<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--This string should be updated for your environment. This is my local setup and will not work for your environment unless configured the same way.-->
    <add name="localDB" connectionString="Server=TOBIASLAPTOP; Database=MyExampleDB; User Id=user; Password=1234; TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>